@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap ');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300; 0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Exo 2", "Roboto",sans-serif; 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;
    list-style: none;}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu li a img{
    height: 35px;
    width: 35px;
    margin: 10px;
    background-color: #ffffff;
    border: solid #ffffff 5px;
    border-radius: 5px;
}
.menu  li a:hover{ 
    background-color: #434343;
    transition: 0.2s ;
    padding: 5px;
}

.menu ul li a:hover{
    background-color: unset;
}

.menu  li ul{
    display: none;
    position: absolute;
    text-align: center;
}
.menu li:hover > ul{
    display: block;
    background: none;
    transition: none;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

#inicio #titulo-principal h1{
    font-size: 64px;
    color: rgb(255, 255, 255);
}

#inicio .que-es{
    height: auto;
    width: auto;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin-top: 215px;
}

#inicio .que-es p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: "Teko", sans-serif;
    /* margin-top: 200px; */
    text-align: center;
 }

.que-es #que-es{
    float: right;
}

.que-es #que-estudia{
    float: left;
}

.que-es #que-es:hover{
    background-color: rgba(0,0,0,0.6);
    cursor: help;
}

.que-es #que-estudia:hover{
    background-color: rgba(0,0,0,0.6);
    cursor: help;
}


.container{
    max-width: 1450px;
    margin: auto;
}

.color-acento{ color:brown; }

#inicio{
    /* display: flex; */
    /* align-items: center;
    justify-content: right; */
    padding: 20px;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    )
    ,url("imagenes/fondo2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#somos-proya .container{
    text-align: center;
    padding: 70px 12px;
}


#somos-proya .img-container img{
    background-position: center;
    height: 500px;
    width: 400px;
    text-align: center;
}

#somos-proya .container{
    display: flex;
    justify-content: space-evenly;
}

#somos-proya .texto{
    width: 50%;
    font-size: 12px;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-programas .mas-informacion{
    padding: 150px 12px;
}

#nuestros-programas .programas{
    display: flex;
    justify-content: center;
    text-align: center;
}
/* 
#nuestros-programas .programas .carta{
    padding: 20px;
    background-size: 100% 210px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
} */

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
    text-align: left;
    padding-left: 30px ;
}

#nuestros-programas .carta p{
    display: none;
}

#nuestros-programas .programas .carta{
    width: 500px;
    height: 250px;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/perfildelegresado.jpeg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/mision.jfif");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/vision.jpeg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#testimonios{
    background-color: rgb(150,100,90);
    color: white;
    text-align: center;
}

#testimonios .mas-informacion{
    padding: 150px 12px;
}

#testimonios .programas{
    display: flex;
    justify-content: center;
    text-align: center;
}

#testimonios h2{
    margin-top: 0;
    font-size: 3.2em;
    text-align: left;
    padding-left: 30px ;
}

#testimonios .carta p{
    display: none;
}

#testimonios .programas .carta{
    width: 500px;
    height: 250px;
}

#testimonios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.testi:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/monse.jpeg");

}

.testi:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/carolina.jpeg");
}

.testi:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/fernanda.jpeg");
    
}
 
#testimonios .programas .carta{
    padding: 20px;
    background-size: 100% 210px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
} 

#evento{
    background-color: rgb(40,40,40);
    color: white;
    text-align: center;
}

#evento .mas-informacion{
    padding: 150px 12px;
}

#evento .programas{
    display: flex;
    justify-content: center;
    text-align: center;
}

#evento h2{
    margin-top: 0;
    font-size: 3.2em;
    text-align: left;
    padding-left: 30px ;
}

#evento .carta p{
    display: none;
}

#evento .programas .carta{
    width: 500px;
    height: 250px;
}

#evento .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.even:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/monse.jpeg");

}

.even:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/carolina.jpeg");
}

.even:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("imagenes/fernanda.jpeg");
    
}
 
#evento .programas .carta{
    padding: 20px;
    background-size: 100% 210px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 991px){
    #inicio{
        height: auto;
        width: auto;
    }
    #inicio #titulo-principal h1{
        font-size: 2.5em;
        text-align: center;
        justify-content: center;
    }

    #somos-proya .container{
        display: block;
        justify-content: space-evenly;
        text-align: center;
    }

    #somos-proya .img-container img{
        text-align: center;
        height: 350px;
        width: 300px;
    }

    #somos-proya .texto{
        width: 100%;
        max-width: none;
        text-align: initial;
        display: block;
        justify-content: center;
        padding: 10px;
    }

    #somos-proya h2{
        margin-top: 0px;
        text-align: center;
    }

    #inicio .que-es{
        display: block;
        justify-content:center;
        text-align: center;
        margin-top: 250px;
    }

    #inicio .que-es p{
        float: none;
        font-size: 18px;
    }


    #nuestros-programas .programas{
        display: inline-block;
        justify-content:center;
        text-align: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 3em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .programas .carta{
        width: 300px;
        height: 250px;
    }

    /* #nuestros-programas .programas .carta{
        padding: 50px;
        background-size: 100% 250px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    } */

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/perfildelegresado2.jfif");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/mision2.jfif");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/vision2.jfif");

    }

    #testimonios .programas{
        display: inline-block;
        justify-content:center;
        text-align: center;
    }

    #testimonios p{
        display: block;
        margin-bottom: 30px;
    }

    #testimonios h2{
        font-size: 3em;
    }

    #testimonios h3{
        margin-top: 0;
    }

    #testimonios .programas .carta{
        width: 250px;
        height: 250px;
    }
    .testi:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/monse.jpeg");

    }

    .testi:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/carolina.jpeg");
    }

    .testi:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/fernanda.jpeg");

    }

    #evento{
        background-color: rgb(40,40,40);
        color: white;
        text-align: center;
    }
    
    #evento .mas-informacion{
        padding: 150px 12px;
    }
    
    #evento .programas{
        display: block;
        justify-content: center;
        text-align: center;
    }
    
    #evento h2{
        margin-top: 0;
        font-size: 3.2em;
        text-align: left;
        padding-left: 30px ;
    }

    #evento .programas .carta{
        width: 300px;
        height: 250px;
    }
    
    #evento .carta{
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }
    
    .even:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("imagenes/monse.jpeg");
    
    }
    
    .even:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("imagenes/carolina.jpeg");
    }
    
    .even:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("imagenes/fernanda.jpeg");
        
    }
     
    #evento .programas .carta{
        padding: 20px;
        background-size: 100% 210px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #caracteristicas{
        background-image: url("");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}