@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap ');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300; 0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none ;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 60px;    
}

.logo{
    height: 60px;
    width: 60px;
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.item:hover{
    color: aqua;
}

#menu{
    display: none;
}

.menu-icono-abajo{
    width: 40px;
    margin: 10px 0px 0px 0px;
}

.menu-icono-arriba{
    display: none;
    width: 40px;
    margin: 10px 0px 0px 0px;
}

label{
    cursor: pointer;
    display: none;
}

.btn-volver-inicio{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: brown;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

.btn-volver-inicio img{
    height: 18px;
}

.btn:hover{
    color: aqua;
}

@media(max-width:991px){
    .menu{
        padding: 20px 30px 15px 30px;
        margin: 0;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 250px;
        right: 0;
        background-color: #121212;
        display: none;
        height: 290px;
    }
    .menu li:hover > ul{
        display: flex;
        padding: 0px;
        margin-top: 5px;
    }

    .menu li a img{
        height: 24px;
        width: 24px;
        margin: 5px;
        background-color: #ffffff;
        border: solid #ffffff 5px;
        border-radius: 5px;
    }

    .menu .item {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .menu li{
        margin: 5px 0px;
    }
    li.btn-volver-inicio{
        text-align: center;
        margin-top: 45px;
    }


    #menu:checked ~.menu{
        display: initial;
    }
}
